.root {
	composes: bg-gray-100 container grid from global;
	composes: 3xl_grid-cols-12 3xl_grid-flow-col from global;
}

.image {
	composes: aspect-h-3 aspect-w-4 from global;
	composes: 3xl_col-span-8 3xl_col-start-5 3xl_aspect-w-8 from global;
}

.content {
	composes: aspect-h-3 aspect-w-4 from global;
	composes: 3xl_col-span-4 from global;
}

.wrapper {
	composes: bg-gray-800 col-start-1 content-center gap-4 grid items-center p-12 text-500 text-white from global;
}

.title {
	composes: text-400 from global;
	composes: xs_text-600 from global;
	composes: sm_font-light sm_text-800 from global;
}

.subtitle {
	composes: font-light text-300 from global;
	composes: sm_text-400 from global;
}

.action {
	composes: text-400 from global;
	composes: xs_text-500 from global;
}
