.root {
	composes: col-span-12 gap-6 grid justify-items-stretch from global;
}

.aboveFold {
	composes: col-span-12 col-start-1 gap-6 grid grid-cols-10 grid-rows-common from global;
}

.belowFold {
	composes: col-span-12 col-start-1 from global;
}
