.root {
	composes: col-span-12 gap-x-4 gap-y-12 grid justify-items-stretch from global;
	composes: sm_gap-x-6 from global;
}

.aboveFold {
	composes: col-span-12 col-start-1 gap-6 grid grid-rows-magic from global;
	composes: 3xl_grid-cols-10 from global;
}

.belowFold {
	composes: col-span-12 col-start-1 from global;
}
