.root {
	composes: grid grid-rows-magic min-h-screen from global;
}

.header {
	composes: bg-gray-100 h-14 from global;
	composes: xs_px-2 from global;
	composes: lg_px-12 from global;
}

.body {
	composes: gap-4 grid grid-cols-12 p-4 from global;
	composes: sm_gap-6 sm_p-12 from global;
}

.footer {
	composes: bg-gray-100 h-64 px-4 from global;
	composes: sm_px-12 from global;
}
