.root {
	composes: content-start gap-4 grid h-auto from global;
	composes: 3xl_col-span-5 3xl_col-start-7 3xl_h-40 3xl_row-span-1 3xl_row-start-1 from global;
}

.name {
	composes: text-700 from global;
}

.price {
	composes: font-light text-600 from global;
}
