.root {
	composes: gap-6 grid grid-cols-1 from global;
	composes: 3xl_col-span-6 3xl_col-start-1 3xl_grid-cols-6 3xl_grid-flow-col 3xl_row-span-2 3xl_row-start-1 from global;
}

.mainImage {
	composes: aspect-h-4 aspect-w-3 bg-green-100 grid grid-cols-1 relative w-full from global;
	composes: 3xl_col-span-5 3xl_col-start-2 from global;
}

.thumbnailList {
	composes: col-span-1 col-start-1 content-start gap-4 grid grid-flow-col justify-center from global;
	composes: 3xl_grid-cols-1 3xl_grid-flow-row 3xl_justify-items-stretch from global;
}

.thumbnail {
	composes: aspect-h-1 aspect-w-1 bg-red-100 h-10 relative rounded-full w-10 from global;
	composes: 3xl_aspect-h-4 3xl_aspect-w-3 3xl_h-auto 3xl_rounded-none 3xl_w-full from global;
}
