.root {
	composes: grid items-center justify-items-center p-8 from global;
}

.landscape {
	composes: h-[108px] w-[144px] from global;
}

.portrait {
	composes: h-[108px] w-[144px] from global;
}

.path {
	composes: fill-current text-gray-200 from global;
}
